{% extends 'YSBlogBundle::base.html.twig' %}

{% block body %}
    <div class="main container">
        <div class="row">
            <div class="input-field col l3 m4 s10">
                <select multiple>
                    <option value="" disabled selected>Choose category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <a href="{{ path('ys_blog_new') }}" class="right input-field btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        {% for blogPost in blogPosts %}
            <div class="card">
                <div class="card-content">
                    <h5>{{ blogPost.title }}</h5>
                    {% autoescape %}
                        {{ blogPost.body|raw }}
                    {% endautoescape %}
                </div>
                <div class="card-action">
                    <a class="btn" href="{{ path('ys_blog_show', {'id': blogPost.id}) }}">Show</a>
                    <a class="btn" href="{{ path('ys_blog_edit', {'id': blogPost.id}) }}">Edit</a>
                    <a class="btn" href="{{ path('ys_blog_delete', {'id': blogPost.id}) }}">Delete</a>
                    <span class="btn-flat disabled right">Created: {{ blogPost.createdat|date('Y-m-d') }}</span>
                    <span class="btn-flat disabled right">By: {{ blogPost.user }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}